{% extends 'base.html' %}

{% block title %}videos{% endblock %}

{% block content %}
<div id="tablet_container">
	<div id="videos_container">
		{% for video in object_list  %}
			<div id="{{ video.videourlid }}" class="video_thumb">
				<img src="http://img.youtube.com/vi/{{ video.videourlid }}/maxresdefault.jpg" alt="" />
			</div>
		{% endfor %}
	</div>

	<div id="video_player_container">
		<div id="videos_player"></div>
		<a id="close" href="#">close X</a>
	</div>
</div>
{% endblock %}

{% block js %}
<script>
$(document).ready(function() {
	$(".video_thumb").click(function( event ) {
		event.preventDefault();
		showVideo($(this).attr('id'));
	});

	function showVideo(video_id) {
		$("#videos_container").hide();
		$("#video_player_container").show();

		var player = new YT.Player('videos_player', {
			width: '100%',
			height: '100%',
			videoId: video_id,
			playerVars: { 'autoplay': 1, 'controls': 1, 'showinfo': 0, 'fs': 0, 'rel': 0, 'iv_load_policy': 3 },
		});
	}

	$("#close").click(function( event ) {
		event.preventDefault();
		$("#videos_container").show();
		$("#video_player_container").hide();
		$( "iframe" ).remove();
		$( '<div id="videos_player"></div>' ).insertBefore( "#close" );
	});
});
</script>

<script src="http://www.youtube.com/player_api"></script>
{% endblock %}
