{% extends 'base.html' %}

{% block content %}
<div id="timer_container">
	<input id="fullscreen" type="button" value="Ir a pantalla completa" onclick="toggleFullScreen()">

	<div id="video">
		<div class="video_separator"></div>
		<div id="video_player"></div>
	</div>

	<div id="timer" class="clock">
		<span id="clock"></span>
	</div>
</div>
{% endblock %}

{% block js %}
<script>
$(document).ready(function() {
	getVideos();
	checkVideos();


	function checkVideos() {
		$.ajax({
			type:'GET',
			url: '/rest/next_videos/',
			dataType: 'json',
			success: function(data){
				setTimeout(function() { checkVideos(); }, 5000);
			},
			error: function(error) {
				console.log(error);
				setTimeout(function() { checkVideos(); }, 5000);
			},
		});
	}

	function getVideos() {
		$.ajax({
			type:'GET',
			url: '/rest/next_videos/',
			dataType: 'json',
			success: function(data){
				youtube_videos = data;

				if (youtube_videos.length == 0) {
					setTimeout(function() { getVideos(); }, 2000);
				}
				else {
					setTimer(youtube_videos[0]);
				}
			},
			error: function(error) {
				console.log(error);
				setTimeout(function() { getVideos(); }, 2000);
			},
		});
	}

	function getVideoYTurl(videoid, videourlid) {
		$.ajax({
			type:'GET',
			url: '/rest/videos/',
			dataType: 'json',
			success: function(data){
				allvideos = data;

				for (var i = 0, len = allvideos.length; i < len; i++) {
					if (allvideos[i].videoid == videoid) {
						if (allvideos[i].videourlid == "") {
							getVideos();
							console.log("empty yt url");
						} else {
							console.log( "video_url: " + allvideos[i].videourlid);
							loadVideo(allvideos[i].videourlid);
						}
					}
				}
			},
			error: function(error) {
				console.log(error);
				setTimeout(function() { getVideoYTurl(videoid, videourlid) }, 2000);
			},
		});
	}

	function setTimer(video) {
		var clock = $('#clock');

		clock.countdown(video.aired_date);

		clock.on('update.countdown', function(event) {
			var totalHours = event.offset.totalDays * 24 + event.offset.hours;
			$(this).html(event.strftime(totalHours + ' hr  %M min  %S seg'));
		});

		clock.on('finish.countdown', function(event) {
			getVideoYTurl(video.videoid, video.videourlid);
		});
	}

	function loadVideo(videourlid) {
		$('#timer').hide();
		$('#video').show();

		var player = new YT.Player('video_player', {
			width: '100%',
			height: '100%',
			videoId: videourlid,
			events: {
				'onReady': onPlayerReady,
				'onStateChange': onPlayerStateChange
			},
			playerVars: { 'autoplay': 1, 'controls': 1, 'showinfo': 0, 'fs': 0, 'rel': 0, 'iv_load_policy': 3 },
		});
	}

	function onPlayerReady(event) {
		event.target.playVideo();
	}

	function onPlayerStateChange(event) {
		if (event.data === 0) {
			$('#timer').show();
			$('#video').hide();

			getVideos();
		}
	}
});

function toggleFullScreen() {
	if ((document.fullScreenElement && document.fullScreenElement !== null) || (!document.mozFullScreen && !document.webkitIsFullScreen)) {
		if (document.documentElement.requestFullScreen) {
			document.documentElement.requestFullScreen();
			$( "#fullscreen" ).remove();
		} else if (document.documentElement.mozRequestFullScreen) {
			document.documentElement.mozRequestFullScreen();
			$( "#fullscreen" ).remove();
		} else if (document.documentElement.webkitRequestFullScreen) {
			document.documentElement.webkitRequestFullScreen(Element.ALLOW_KEYBOARD_INPUT);
			$( "#fullscreen" ).remove();
		}
	} else {
		if (document.cancelFullScreen) {
			document.cancelFullScreen();
		} else if (document.mozCancelFullScreen) {
			document.mozCancelFullScreen();
		} else if (document.webkitCancelFullScreen) {
			document.webkitCancelFullScreen();
		}
	}
}
</script>

<script src="http://www.youtube.com/player_api"></script>
{% endblock %}
