{% extends 'base.html' %}

{% block content %}
<div id="panel_container">
	<div id="form_container">
		{{ form.non_field_errors }}

		<form class="form-horizontal" action="/panel/"  method="post">
			{% csrf_token %}

			{{ form.videourlid.errors }}
			{{ form.videourlid }}

			<div class="form_separator"></div>

			<input id="date" type="date" name="date" value="" required="required" placeholder="dd/mm/yyyy">
			<input id="time" type="time" name="time" value="" required="required" placeholder="00:00">

			{{ form.user.errors }}
			{{ form.user }}

			{{ form.status.errors }}
			{{ form.status }}

			<div class="form_separator"></div>

			<input id="add" type="submit" value="Añadir" />
		</form>
	</div>
</div>

<div id="calendar_container">
	{% for video in videos %}
		<div class="video_info">
			<p>{{ video.videourlid }}</p>
			<p>{{ video.aired_date }}</p>
		</div>
	{% endfor %}
</div>
{% endblock %}
