/* general
__________________________________________________________________________ */

*,
*:before,
*:after
{
	-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
			box-sizing: border-box;
	margin: 0;
}

.noselect
{
	-webkit-user-select: none;
		-moz-user-select: none;
			-ms-user-select: none;
				user-select: none;

	-webkit-touch-callout: none;
	 -khtml-user-select: none;
}


/* typography
__________________________________________________________________________ */

body,
textarea,
input
{
	word-wrap: break-word;

	color: #302129;
	background-color: white;

	font-family: "Istok Web",-apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Open Sans","Helvetica Neue",sans-serif;
	/*font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Open Sans","Helvetica Neue",sans-serif;*/
	font-size: 115%;
}

a {
	color: #34AADC;
	text-decoration: none;
}

a:hover { text-decoration: underline; }


/* input
__________________________________________________________________________ */

input {
	color: #8E8E93;
	padding: 5px;
	border-radius: 2px;
	border: 2px solid #E7E7E7;
	outline: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	height: 2em;
	margin: 0.4em;
	max-width: 100%;
}

input:focus { border: 2px solid #007AFF; }

.submit {
	cursor: pointer;
	color: white;
	border: 2px solid #34AADC;
	border-bottom: 2px solid #007AFF;
	border-radius: 2px;
	background-color: #34AADC;
}

.submit:hover {
	background-color: #007AFF;
	border: 2px solid #007AFF;
}

.submit:focus {
	background-color: #007AFF;
	border: 2px solid #007AFF;
}

input[type="button"], input[type="text"] { background-color: white; }

input[type="text"] { width: 80%; }


input[type="checkbox"] {
	margin-right: 3px;
	cursor: pointer;
	-webkit-appearance: checkbox;
	-moz-appearance: checkbox;
}

::-webkit-input-placeholder { color: #C7C7CC; }
:-moz-placeholder { color: #C7C7CC; opacity: 1; }
::-moz-placeholder { color: #C7C7CC; opacity: 1; }
:-ms-input-placeholder { color: #C7C7CC; }

select {
	-moz-appearance: button;
	outline: none;
	margin: 0;
	color: #8E8E93;
	background-color: white;
	border: 2px solid #F7F7F7;
	border-radius: 2px;
	cursor: pointer;
	font-size: 109%;
	height: 2em;
	margin-left: 0.4em;
}

select:focus { border: 2px solid #34AADC;}

textarea {
	padding: 20px;
	border: 2px solid #F7F7F7;
	border-radius: 2px;
	font-size: 110%;
	width: 100%;
	resize: none;
	outline: none;
}

@-moz-document url-prefix() { textarea { margin-bottom: 5px; } }

textarea:focus { border: 2px solid #34AADC; }


/* countdown
__________________________________________________________________________ */

#timer_container {
	width: 100vw;
	height: 100vh;
	background-color: black;
}

#timer {
	height: 100%;

	text-align: center;

	color: black;
	background-color: #eff3f9;

	font-size: 250%;
	line-height: 95vh;
}

#video {
	display: none;

	width: 100vw;
	height: 99.5vh;
	margin: 0;

	border: 0;
	background-color: black;
	padding: 120px;
}

.video_separator {
	width: 100%;
	height: 10vh;
	background-color: black;
}

.altfield {
	margin-left: 1em;
	background-color: #efefef;
	padding: .2em;
	color: #c00;
	border: none;
}

.info {
	font-size: small;
	margin-top: 4em
}


/* panel
__________________________________________________________________________ */

.form_separator {
	clear:both;
}

#nav a {
	font-size: 120%;
	margin-left: 0.8em;
	color: #EF4DB6;
}

#nav_panel {
	font-size: 150% !important;
	color: #C643FC !important;
}

#nav {

	padding-top: 1em;
}

#next_video_countdown {
	float: right;
	margin-right: 3em;
	font-size: 110%;
}

#panel_container {
	width: 100%;
	max-width: 800px;
	margin: 0 2em;
	overflow: auto;
}

#form_container {
	padding: 20px 0;
	overflow: auto;
	margin: 20px 0 15px 0;
}

#add {
	background-color: #EF4DB6;
	color: white;
	padding: 6px 18px;
	border-radius: 4px;
}

#editing {
	color: #5856D6;
	font-size: 150%;
	padding-bottom: 0.5em;
}

.video_info {
	float: left;

	width: calc(25% - 1em - 0.25em);
	margin-bottom: 1em;
	margin-left: 1em;

	border: 1px solid #34AADC;

	font-size: 95%;
}

.title {
	padding: 0.5em;
	background-color: #34AADC;
	color: white;
}

.calendar_card {
	padding: 1em;
	border-bottom: 1px solid #34AADC;
}

.watch {
	float: left;
	padding: 0.5em;
}

.watch a { color: #FF5E3A; }

.edit {
	float: right;
	padding: 0.5em;
}

#tab_container {
	border-bottom: 2px solid #5856D6;
	margin: 0 1.5em 1.5em 1.5em;
	padding: 0.6em;
}

#tab_container a {
	margin-right: 1.2em;
	color: #5856D6;
}

.tab_selected {
	font-weight: bold;
}

.tab {
	display: none;
}


/* login
__________________________________________________________________________ */

.card {
	overflow: auto;

	width: 300px;
	margin: 0 auto;
	margin-top: 3em;
	padding: 1em;

	border: 3px solid #52EDC7;
}

#id_username, #id_password {
	width: calc(100% - 15px);
	display: block;
}


/* tablet
__________________________________________________________________________ */

#tablet_container {
	width: 100vw;
	padding: 3em;
	overflow: auto;
}

#videos_container {
	background-color: white;
	width: 100%;
	height: 100%;
	overflow: auto;
}

.video_thumb {
	width: calc(33.33% - .6em);
	float: left;
	margin: .2em;
}

.video_thumb img {
	width: 100%;
}

.video_thumb img:hover {
	cursor: pointer;
}

#video_player_container {
	display: none;
	height: 100vh;
	width: 100vw;
	position: fixed;
	left: 0;
	top: 0;
	padding: 3em;
	background-color: rgba(0, 0, 0, 1);
}

#videos_player {
	height: 75vh;
	background: #C7C7CC;
}

#close {
	float: left;
	font-size: 170%;
	color: white;
	padding: .3em;
}

#fullscreen {
	color: red;
	border: 2px solid red;
	width: 100%;
	margin: 0;
}

#fullscreen:hover {
	cursor: pointer;
}

#ytcover {
	position: fixed;
	width: 150px;
	height: 100vh;
	background-color: black;
	right: 0;
}
