{% extends 'base.html' %}

{% block content %}
<div id="timer_container">
	<div id="video">
		<div id="video_player"></div>
	</div>

	<div id="timer" class="clock">
		<span id="clock"></span>
	</div>
</div>
{% endblock %}

{% block js %}
<script>
$(document).ready(function() {
	var current_video = 0;

	var youtube_videos = [
		{"linkID": "o-nr1nNC3ds", "date": "2016/01/06 00:59:00"},
		{"linkID": "jhFDyDgMVUI", "date": "2016/06/04 23:50:00"},
		{"linkID": "kfchvCyHmsc", "date": "2017/01/04 23:12:00"},
		{% for video in object_list %}
			{"linkID": "{{ video.videourlid }}", "date": "{{ video.aired_date | date:"Y/m/d H:i" }}:00"},
		{% endfor %}
	]

	setTimer(youtube_videos[current_video])

	function setTimer(video) {
		var clock = $('#clock');

		clock.countdown(video.date);

		clock.on('update.countdown', function(event) {
			var totalHours = event.offset.totalDays * 24 + event.offset.hours;
			$(this).html(event.strftime(totalHours + ' hr  %M min  %S seg'));
		});

		clock.on('finish.countdown', function(event) {
			$('#timer').hide();
			$('#video').show();

			loadVideo(video.linkID);
		});
	}

	function loadVideo(linkID) {
		var player = new YT.Player('video_player', {
			width: '100%',
			height: '100%',
			videoId: linkID,
			events: {
				'onStateChange': onPlayerStateChange
			},
			playerVars: { 'autoplay': 1, 'controls': 1, 'showinfo': 0, 'fs': 0, 'rel': 0, 'iv_load_policy': 3 },
		});
	}

	function onPlayerStateChange(event) {
		if (event.data === 0) {
			$('#timer').show();
			$('#video').hide();
			current_video = current_video + 1;
			setTimer(youtube_videos[current_video])
		}
	}
});
</script>

<script src="http://www.youtube.com/player_api"></script>
{% endblock %}
