{% extends 'base.html' %}

{% block title %}videos{% endblock %}

{% block content %}
<div id="tablet_container">
	<input id="fullscreen" type="button" value="Ir a pantalla completa" onclick="toggleFullScreen()">

	<div id="videos_container">
		{% for video in object_list  %}
			<div id="{{ video.videourlid }}" class="video_thumb">
				<img src="http://img.youtube.com/vi/{{ video.videourlid }}/maxresdefault.jpg" alt="" />
			</div>
		{% endfor %}
	</div>

	<div id="video_player_container">
		<div id="videos_player"></div>
		<a id="close" href="#">close X</a>
	</div>
</div>
{% endblock %}

{% block js %}
<script>
$(document).ready(function() {
	$(".video_thumb").click(function( event ) {
		event.preventDefault();
		showVideo($(this).attr('id'));
	});

	function showVideo(video_id) {
		$("#video_player_container").show();

		var player = new YT.Player('videos_player', {
			width: '100%',
			height: '100%',
			videoId: video_id,
			playerVars: { 'autoplay': 1, 'controls': 1, 'showinfo': 0, 'fs': 0, 'rel': 0, 'iv_load_policy': 3 },
		});
	}

	$("#close").click(function( event ) {
		event.preventDefault();
		$("#video_player_container").hide();
		$( "iframe" ).remove();
		$( '<div id="videos_player"></div>' ).insertBefore( "#close" );
	});

});

function toggleFullScreen() {
	if ((document.fullScreenElement && document.fullScreenElement !== null) || (!document.mozFullScreen && !document.webkitIsFullScreen)) {
		if (document.documentElement.requestFullScreen) {
			document.documentElement.requestFullScreen();
			$( "#fullscreen" ).remove();
		} else if (document.documentElement.mozRequestFullScreen) {
			document.documentElement.mozRequestFullScreen();
			$( "#fullscreen" ).remove();
		} else if (document.documentElement.webkitRequestFullScreen) {
			document.documentElement.webkitRequestFullScreen(Element.ALLOW_KEYBOARD_INPUT);
			$( "#fullscreen" ).remove();
		}
	} else {
		if (document.cancelFullScreen) {
			document.cancelFullScreen();
		} else if (document.mozCancelFullScreen) {
			document.mozCancelFullScreen();
		} else if (document.webkitCancelFullScreen) {
			document.webkitCancelFullScreen();
		}
	}
}
</script>

<script src="http://www.youtube.com/player_api"></script>
{% endblock %}
